*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Grape';
    src: url(Fonts/Grape_Nuts/GrapeNuts-Regular.ttf);
}
@font-face {
    font-family: 'Raleway';
    src: url(Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@media screen and (max-width: 600px) {
}
nav{
    overflow: hidden;
    width: 100%;
}
 nav a{
    text-decoration: none;
    color: purple;
    display: inline-block;
    /* margin-left: 80px; */
    text-align: right;
    float: right;
    margin-right: 120px;
    font-size: 130%;
    margin-top: 40px;
    font-family: 'Grape';
}
nav h1{
    color: #E1C8AA;
    display: inline-block;
    margin-left: 60px;
    font-size: 350%;
    margin-top: 30px;
    font-family: 'Raleway';
}
h1 span{
    color: purple;
    font-family: 'Grape';
}
#div1{
    background-image: url(images/main1.jpg);
    background-size: cover;
    width: 100vw;
    height: 75.4vh;
}
#button1{
    color: white;
    background-color: #79C8E8;
    display: inline;
    font-weight: bolder;
    width: 330px;
    height: 30px;
    margin-top: 220px;
    margin-left: 160px;
    font-size: larger;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#div1 h4{
    color: #12265A;
    margin-left: 160px;
    margin-top: 20px;
    font-size: 300%;
    font-family: 'Raleway';
}
#div1 #para1{
    color: darkslategray;
    margin-top: 20px;
    margin-left: 160px;
    width: 780px;
    text-align: justify;
}
#button2{
    background-color: #FFC85B;
    color: white;
    font-weight: bolder;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: x-large;
    font-family: 'Raleway';
    margin-top: 40px;
    margin-left: 160px;
} 


/* this is div 2 section  */

#div2{
    width: 24vw;
    border: 1px solid red;
    margin-top: 30px;
    /* display: inline-block; */
    float: left;
}
#div2 img{
    width: 22vw;
    height: 23vh;
    margin-left: 11px;
}
#div2 h1{
    color: darkslategray;
    text-align: center;
}


/* this is div3 section  */
#div3{
       display: inline-block;
    float: right;
    width: 74vw;
    margin-top: 30px;
    
}
.d1{
    width: 130px;
    border: 1px dashed black;
    height: 130px;
    background-color: #fa9db7;
    margin-left: 48px;
    display: inline-block;
    margin-top: 45px;
    border-radius: 20px;
}
.d1 img{
    width: 30px;
    
    margin: 15px;
}
.d1 h1{
    color: white;
}
.d2{
    width: 74vw;
    margin-top: 100px;
    max-height: fit-content;
  }
      
  .d2 #heading2{
    color: #102759;
    padding-left: 50px;
    font-weight: bolder;
  }  
  .d2 #paragraph{
    color: #A8A9AB;
    padding-left: 50px;
    
  }
  .d2 li{
    color: #102759;
    font-weight: bolder;
    font-size: 150%;
    margin-left: 80px;
    margin-top: 30px;
  }
  #d2i{
    margin-top: 40px;
    margin-left: 70px
  }
  #div3{
    height: 130vh;
    overflow-x: scroll; !important
    overflow-y: hidden; !important
    
  }
  #div2{
    height: 150vh; !important
    box-sizing: border-box;
  }
  nav a:hover{
    color: mediumpurple;
    text-decoration: underline green;
   
  }
  d1:hover{
    color: wheat;
  }
  #div2 h1{
    margin-top: 10px;
    margin-bottom: 5px;
  }
      
 .l1{
   text-align: right;
 }
#map{
    clear: both;
    padding-top: 70px;
    margin-left: 300px;
    width: 100vw;
    display: block;
}
#lastdiv{
    width: 100vw;
}
#lastdiv h1{
    margin-top: 70px;
    margin-left: 130px;
    color: #12265A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #C1C6D4;
    display: inline-block;
    width: 210px;
    text-align: center;
}
#lastdiv p{
    color: #DC3545;
    margin-left: 130px;
    text-align: justify;
    width: 900px;
    margin-top: 25px;
}
#lastdiv input{
    width: 30%;
    margin-left: 400px;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    /* border: none; */
    border-right: 2px solid brown; 
    border-left: 2px solid brown;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    font-family: 'Raleway';
}
#lastdiv input:hover{
    font-family: 'Raleway';
    border: 1px solid blue;
}
#lastdiv textarea{
    width: 30%;
    margin-left: 400px;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue;
    border-right: 2px solid brown;
    border-left: 2px solid brown;
    font-family: 'Raleway';
}
#lastdiv button{
    color: white;
    font-weight: bold;
    border: 1px dashed red;
    border-radius: 20px;
    margin-left: 900px;
    height: 47px;
    background-color: yellowgreen;
}
#footer{
    width: auto;
    background-color: #223668;
    height: 100px;
}
#footer h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    font-family: 'Raleway';
}